.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.title {
  margin-top: 2rem;
  text-align: center;

  span {
    color: #8c12f0;
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
    color: #fff;

    @media screen and (max-width: 500px) {
      font-size: 2rem;
    }
  }
}

.select {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  button {
    color: #000;
    background: #fff;
    padding: 0.65rem 1rem;
    border-radius: 10px;
    font-size: 0.85rem;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
    font-family: "Poppins";

    &.active {
      background: #8c12f0;
      color: #fff;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 0.7rem;
    }
  }
}

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .tools {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #131212;

    svg {
      width: 60%;
      height: 60%;
      color: #fff;
      transition: transform 0.2s ease;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.experiences {
  margin-top: 3rem;
  max-width: 800px;
  width: 100%;

  .experience {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 1.5rem;

    span {
      font-size: 1.2rem;
      color: #8c12f0;
      margin-bottom: 0.5rem;
    }

    .position {
      h3 {
        font-size: 1.3rem;
        color: #fff;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.7);
      }
    }

    .tasks {
      margin-top: 1.5rem;

      li {
        font-size: 0.9rem;
        color: #fff;
        margin-bottom: 0.5rem;
      }
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.finishes_container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem;
  color: #fff;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  .finishes {
    .number {
      font-size: 1.7rem;
      color: #8c12f0;
    }

    .item_name {
      font-size: 1.2rem;
      margin-top: 0.5rem;
    }
  }
}
